<nav class="navbar">
  <div class="navbar-brand has-text-centered">
    <a class="navbar-item">
      <h1>QR code generator</h1>
    </a>
  </div>
</nav>

<section class="section">
  <div class="columns">
    <div class="column">
      <div class="box">
          <form action="" [formGroup]="formData">

              <div class="field">
                  <label>Tipo de QR</label><br>
                  <div class="radio">
                      <label class="radio">
                        <input type="radio" name="mode" value="url" formControlName="mode">
                        URL
                      </label>
                      <label class="radio">
                        <input type="radio" name="mode" value="text" formControlName="mode">
                        Text
                      </label>
                    </div>
              </div>

              <div class="field">
                  <label for="url">URL</label>
                  <div class="control">
                      <input class="input" type="text" name="url" formControlName="url" placeholder="https://..." [disabled]="formData.value.mode!=='url'">
                  </div>
              </div>

              <div class="field">
                  <label for="text">Text</label>
                  <div class="control">
                      <textarea name="text" class="textarea" id="text" rows="6" placeholder="Introduzca un texto" formControlName="text" [disabled]="formData.value.mode!=='text'"></textarea>
                  </div>      
              </div>
            </form>
      </div>

      <p>URL: {{formData.value | json}}</p>
    </div>

    <div class="column">
      <div class="box">
          <qr-code [value]="getDataForQR()" [size]="512" level="Q"></qr-code>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>&copy; Jairo Chapela-Martínez</p>
    </div>
  </div>
</footer>