<nav class="navbar">
  <div class="navbar-brand has-text-centered">
    <a class="navbar-item">
      <h1>QR code generator</h1>
    </a>
  </div>
</nav>

<section class="section">
  <div class="columns">
    <div class="column">
      <form action="" [formGroup]="formData">
        <div class="control">
          <label class="radio">
            <input type="radio" name="mode" value="url" formControlName="mode">
            URL
          </label>
          <label class="radio">
            <input type="radio" name="mode" value="text" formControlName="mode">
            Text
          </label>
        </div>
        <div class="control">
          <label for="url">URL</label>
          <input type="text" name="url" formControlName="url" [disabled]="formData.value.mode!=='url'">
        </div>
        <div class="control">
          <label for="text">Text</label>
          <textarea name="text" id="text" cols="30" rows="6" [disabled]="formData.value.mode!=='text'"></textarea>
        </div>
      </form>
      <p>URL: {{formData.value | json}}</p>
    </div>

    <div class="column">
      <qr-code [value]="formData.value.url" [size]="512" level="Q"></qr-code>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>&copy; Jairo Chapela-Martínez</p>
    </div>
  </div>
</footer>